---
import HeroLeft from "../components/HeroLeft.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
import ScrollProgress from "@/components/ScrollProgress.astro";
import AboutMe from "@/components/AboutMe.astro";
import AboutLeft from "@/components/AboutLeft.astro";
import SectionProyects from "@/components/SectionProyects.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <ScrollProgress />
  <main class="pt-24 min-h-dvh" id="home">
    <section class="flex">
      <HeroLeft class="w-[50%]" />
    </section>
  </main>
  <section class="flex flex-row items-center">
    <AboutLeft />
    <AboutMe />
  </section>
  <SectionProyects />
</Layout>

<style>
  body {
    font-family: "Onest Variable", sans-serif;
    position: relative;
    overflow-x: hidden;
  }
</style>
