---
import cafeGif from "../assets/cafe.gif";
import about from "../assets/about.gif";
---

<section class="w-[60%]">
  <img
    src={about.src}
    alt=""
    class="shadow-xl shadow-blue-300/20 rounded-4xl w-full h-auto"
  />
</section>
