---

---

<article>
  <div
    class="dark:bg-carbon/20 bg-slate-50/30 dark:text-porcelain/90 backdrop-blur-lg text-carbon text-md font-medium px-3 py-2 rounded-full border border-green-500/60 inline-flex items-center gap-2"
  >
    <span
      class="w-2 h-2 bg-green-500 border-2 border-slate-50/40 rounded-full animate-pulse"
    ></span>
    <slot />
  </div>
</article>
