---

---

<button
  class=`group relative cursor-pointer px-4 py-2 rounded-xl dark:bg-carbon dark:text-porcelain bg-porcelain text-carbon
  shadow-md dark:shadow-slate-100/20 shadow-slate-950-30 transition-all duration-75 hover:shadow-lg dark:hover:shadow-slate-100/30 hover:shadow-slate-950/40 active:shadow-sm active:shadow-slate-100
${Astro.props.class? Astro.props.class : "" }
  `
>
  <span
    class=`relative z-20 block transition-transform duration-75  group-active:translate-y-[2px] ${Astro.props.class?Astro.props.class:" "}`
  >
    <slot />
  </span>

  <span
    class="pointer-events-none absolute top-[2px] left-0 w-full h-full
    rounded-xl dark:bg-porcelain bg-carbon group-active:bg-primary/10 -z-10 transition-all duration-75"
  ></span>
</button>
