---
const { class: className = "" } = Astro.props;
---

<button
  class=`${ className} bg-Sprimary rounded-lg shadow-lg shadow-Sprimary/30 cursor-pointer text-md font-semibold text-porcelain px-6 py-3 inline-flex items-center gap-2 transition-transform duration-300 hover:scale-105 active:scale-95`
>
  <slot />
</button>
