---

---

<button
  class=`bg-carbon/70 text-porcelain border-2 border-gray-600/80 px-6 py-3 transition-transform duration-300 hover:scale-105 active:scale-95 rounded-lg shadow-lg shadow-gray-900/50 cursor-pointer text-base font-semibold inline-flex items-center gap-2 ${Astro.props.class?Astro.props.class:" "}`
>
  <slot />
</button>
