---

---

<button class="shadow-md shadow-slate-100/20 cursor-pointer px-4 py-2 text-porcelain relative bg-carbon rounded-xl
after:content-['']
after:absolute after:top-[2px] after:left-0 after:w-full after:h-full
after:bg-porcelain after:rounded-xl after:-z-10">
  <slot></slot>
</button>