<footer class="flex items-center relative z-10 pt-10 pb-6 mt-40 text-lg">
  <a href="/">
    <img
      src="/Logo-transparent.svg"
      alt="DevComing Logo"
      class="h-18 w-auto inline-block ml-2"
      fetchpriority="high"
    />
  </a>
  <p class="text-porcelain">
    2026 © Diseñado y desarrollado por <span class="text-Sprimary-800 font-bold"
      >Sergio Hernández</span
    >
    <a href="/" class="cursor-pointer"> </a>. Cada línea de código, con
    intención y cariño.
  </p>
  <div
    class="absolute inset-0 left-[50%] min-w-screen -translate-x-[50%] -z-10 bg-linear-210 bg-linear-gradient-to-b from-Sprimary-500/20 via-blue-500/10 to-Sprimary-800/30 blur-[100px]"
  >
  </div>
</footer>
