---
Astro.props
---

<li class="text-shadow-lg text-shadow-carbon/70 transition-all text-porcelain  transition-all hover:scale-110 hover:text-Sprimary-600 hover:brightness-105 hover:text-shadow-lg hover:text-shadow-Sprimary/30">
<slot></slot>
</li>