---
Astro.props
---

<li class="text-shadow-md text-shadow-carbon/50 transition-all text-porcelain  transition-all hover:scale-110 hover:text-Sprimary hover:brightness-105 hover:text-shadow-lg hover:text-shadow-Sprimary/30">
<slot></slot>
</li>