---
Astro.props;
---

<li
  class="text-shadow-lg dark:text-shadow-carbon/70 transition-all dark:text-porcelain text-Sprimary transition-all dark:hover:text-Sprimary-600 hover:scale-110 hover:text-carbon hover:brightness-105 dark:hover:text-shadow-lg dark:hover:text-shadow-Sprimary/30"
>
  <slot />
</li>
