---
import ItemListHeader from "./ItemListHeader.astro";
---

<section class="menuMovil fixed inset-16 top-20 z-20 h-full">
  <div class="absolute bg-carbon rounded-2xl h-[80%] w-full">
    <ul class="flex flex-col size-full text-center">
      <button
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >x</button
      >
      <a
        href="#about"
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >Sobre mi
      </a>

      <a
        href="#projects"
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >Projects</a
      >

      <a
        href="#skills"
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >Habilidades</a
      >

      <a
        href="#certifications"
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >Certificaciones</a
      >

      <a
        href="#contact"
        class="movil-a grow shrink active:bg-porcelain active:text-Ssecondary flex items-center justify-center"
        >Contacto</a
      >
    </ul>
  </div>
  <div
    class="menuMovilBack absolute bg-Ssecondary rounded-2xl -z-10 top-1 left-1 h-[80%] w-full"
  >
  </div>
</section>
<style>
  .menuMovilBack,
  .menuMovil {
    opacity: 0;
    pointer-events: none;
    transition: all ease 300ms;
    transform: translateX(5rem);
  }
  .menuMovil.visibleMenu {
    opacity: 100%;
    pointer-events: initial;
    transform: translateX(0);
  }
  .menuMovilBack.visibleMenu {
    opacity: 100%;
    pointer-events: initial;
    transform: translateX(0);
  }
</style>
