---
import BallProgress from "./BallProgress.astro";
---

<aside class="fixed top-60 right-10 z-50 w-fit h-fit">
  <section class="progress flex flex-col gap-5">
    <BallProgress />
    <BallProgress />
    <BallProgress />
    <BallProgress />
    <BallProgress />
    <BallProgress />
  </section>
</aside>

<style></style>
