---
import BackgroundPattern from "./BackgroundPattern.astro";
import Skill from "./Skill.astro";
---

<BackgroundPattern class="mb-40">
  <section class="relative z-40">
    <h2 class="text-porcelain text-6xl font-bold mb-16">Habilidades</h2>
    <Skill icon="Html" />
  </section>
</BackgroundPattern>
