---
import IconLinkedin from "@/components/icons/IconLinkedin.astro";
import IconGmail from "@/components/icons/IconGmail.astro";
import IconWhatsapp from "@/components/icons/IconWhatsapp.astro";
import IconGithubCT from "./icons/IconGithubCT.astro";
---

<section class="flex gap-4 mb-6">
  <a class="">
    <IconLinkedin
      class="transition-colors duration-300 hover:text-Sprimary-600 size-7 text-slate-100"
    />
  </a>
  <a>
    <IconGmail
      class="transition-colors duration-300 hover:text-Sprimary-600 size-7 text-slate-100"
    />
  </a>
  <a>
    <IconWhatsapp
      class="transition-colors duration-300 hover:text-Sprimary-600 size-7 text-slate-100"
    />
  </a>
  <a>
    <IconGithubCT
      class="transition-colors duration-300 hover:text-Sprimary-600 size-7 text-slate-100"
    />
  </a>
</section>
